@using YoutubeRatings.Core
@using YoutubeRatings.Web.Controllers
@model IEnumerable<TrendingVideo>
@{
    ViewData["Title"] = "Index";
}

<h2>Trending</h2>

<table>
    <tr>
        <th>Video</th>
        <th>Capture Count</th>
        <th>First</th>
        <th>Last</th>
        <th>Capture Coverage</th>
        <th>Views / min</th>
        <th>Growth / hr</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td><a href="http://youtube.com/watch?v=@x.Video.VideoId">@x.Video.Title</a></td>
            <td>@x.ViewCounts.Count()</td>
            <td>@x.First</td>
            <td>@x.Last</td>
            <td>@x.Captured.ToString("P")</td>
            <td>@x.ViewsPerMinute.ToString("F3")</td>
            <td>@($"{x.GrowthPerHour,8:P}")</td>
        </tr>
    }
</table>